# Kebutuhan utama Django
Django==5.1.3
gunicorn==23.0.0
dj-database-url==3.0.0
psycopg2-binary==2.9.9  # HANYA GUNAKAN INI untuk koneksi PostgreSQL
sqlparse==0.5.2
asgiref==3.8.1

# Untuk Forms dan Tampilan
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
django-widget-tweaks==1.5.0

# Library Tambahan
beautifulsoup4==4.13.4
requests==2.32.4
pillow==11.0.0

# --- PERHATIAN: Library Data Science yang Sangat Besar ---
# Pastikan library berikut benar-benar dibutuhkan saat aplikasi berjalan di server.
# Jika tidak, hapus untuk mengurangi ukuran aplikasi.
# joblib==1.5.1
# numpy==2.3.0
# pandas==2.3.0
# scikit-learn==1.7.0
# scipy==1.15.3
# matplotlib==3.10.3
# seaborn==0.13.2
# contourpy==1.3.2
# cycler==0.12.1
# fonttools==4.58.4
# kiwisolver==1.4.8
# packaging==25.0
# pyparsing==3.2.3
# python-dateutil==2.9.0.post0
# six==1.17.0
# threadpoolctl==3.6.0

# Library lain yang mungkin Anda butuhkan dari daftar asli
certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10
soupsieve==2.7
typing_extensions==4.14.0
urllib3==2.5.0
pytz==2025.2
tzdata==2024.2